.site-header {
  border-top: none;
  background: #000;
}

body.page-template-homepage section.intro .copy h3 {
  color: #03400A;
}
body.page-template-homepage section.filter {
  background: #000;
}
body.page-template-homepage section.filter form input[type=search] {
  background: #3B3B3B;
}
body.page-template-homepage .documents-categories .section-header,
body.page-template-homepage .documents-list table thead {
  background: #03400A;
}
body.page-template-homepage .documents-categories .sticky-wrapper {
  background: #fff;
}
body.page-template-homepage .documents-categories .categories-list h5 {
  background: none;
  padding: 0;
  color: #03400A;
  font-weight: bold;
}
body.page-template-homepage .documents-list table tbody a {
  color: #03400A;
}

.site-footer {
  background-color: #03400A;
}

::-moz-selection {
  background: #03400A;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03400A;
  color: #fff;
  text-shadow: none;
}

.site-nav {
  background: #03400A;
  padding: 1rem 2rem;
}
.site-nav ul {
  display: flex;
}
.site-nav li + li {
  padding-left: 2rem;
}
.site-nav a {
  color: #fff;
  font-size: 0.8125rem;
}
.site-nav a:hover {
  text-decoration: underline;
}

body.page-template-homepage .documents-list table tbody tr.file td {
  max-width: 18rem;
}

@media screen and (min-width: 768px) {
  body.page-template-homepage section.intro {
    min-height: 50vh;
  }
}

body.page-id-7 .site-nav .home,
body.page-id-60 .site-nav .supplemental {
  text-decoration: underline;
}