.site-header {
    border-top: none;
    background: $black;
}

body.page-template-homepage {
    section.intro .copy h3 {
        color: $dark-green;
    }

    section.filter {
        background: $black;

        form {
            input[type="search"] {
                background: $charcoal;
            }
        }
    }

    .documents-categories .section-header,
    .documents-list table thead {
        background: $dark-green;
    }

    .documents-categories .sticky-wrapper {
        background: $white;
    }   

    .documents-categories .categories-list h5 {
        background: none;
        padding: 0;
        color: $dark-green;
        font-weight: bold;
    }

    .documents-list table tbody a {
        color: $dark-green;
    }


}
.site-footer {
    background-color: $dark-green;
}
