.site-nav {
    background: $dark-green;
    padding: 1rem 2rem;

    ul {
        display: flex;
    }

    li {
        & + li {
            padding-left: 2rem;
        }
    }

    a {
        color: $white;
        font-size: 0.8125rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
