@import 'color';
@import 'typography';

@import 'header';

body.page-template-homepage .documents-list table tbody tr.file td {
    max-width: 18rem;
}

body.page-template-homepage section.intro {
    @include tablet {
        min-height: 50vh;
    }
}

body.page-id-7 .site-nav .home,
body.page-id-60 .site-nav .supplemental {
    text-decoration: underline;
}
